@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    
  }

  .wrapper {
    display: block;
    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
  }
  
  .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
  }
  
  .showcase {
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
    /*background: url(./Images/IMG_0761.jpg) no-repeat center center/cover;*/
  }

  .secondrow{
     
      position: relative;
      height: auto;
  }


  /* Blurry bakgrunn*/
  :root {
  --primary-color: rgba(63, 60, 60, 0.75);
  --overlay-color: rgba(42, 42, 44, 0.85);
  --menu-speed: 0.75s;
}
  
  .showcase:before {
    content: '';
    background: url('./Images/IMG_0761.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .secondrow:before {
    content: '';
   /* background: url('./Images/IMG_1792.jpg') no-repeat center center/cover;*/
    background-color:rgb(233, 233, 233);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .bakgrunn{
   background-size: 100%;
  }
  
  .showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7em;
    justify-content: center;
    padding-bottom: 8em;
    text-align: center;
    height: 100%;
  }

  .showcase h1 {
    font-size: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .showcase p {
    font-size: 1.3rem;
  }
  
  .btn {
    display: inline-block;
    border-radius: 5%;
    background: var(--primary-color);
    color: #fff;
    background-color: rgb(49, 47, 43);
    padding: 0.75rem 1.5rem;
    margin-top: 0.2rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
  }
  
  .btn {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
  }

  .btn {
    transition: all 0.3s;
  }
  .btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: -0.2em;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 3px;
    border-bottom-width: 3px;
   
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: white;
    border-bottom-color: white;
    transform: scale(0.1, 1);
  }
  .btn:hover span {
    letter-spacing: 2px;
  }
  .btn:hover::before {
    opacity: 1;	
    transform: scale(1, 1);	
  }
  .btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 5%;
    transition: all 0.3s;
    background-color: rgba(90, 79, 79, 0.1);
  }
  .btn:hover::after {
    opacity: 0;	
    transform: scale(0.1, 1);
  }

h1 a {
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: 'Dosis', sans-serif;
}




